/* Estilos para o body */
body {
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    color: rgb(22, 217, 214);
    padding: 0;
    margin: 0; /* Remove margens */
    box-sizing: border-box;
}

h1{
    font-size: 14px;
}
/* Container da TV */
.tv-container {
    width: 30vw;  /* Usa 80% da largura da tela */
    height: 30vw;  /* Mantém uma proporção quadrada */
    max-width: 300px;  /* Largura máxima */
    max-height: 300px;  /* Altura máxima */
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Três colunas */
    grid-template-rows: repeat(3, 1fr);  /* Três linhas */
    gap: 5px;
    margin: 0 auto;  /* Centraliza na tela */
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    align-items: center;
}

/* Estilos dos slots */
.slot {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
}

.slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Botões */
.button, .reset-button {
    margin-top: 1%;
    padding: 15px 30px;
    font-size: 14px;
    background-color: rgb(22, 217, 214);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button {
    font-size: 14px;
}

/* Resultados */
.result {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.turn-message {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}



/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .tv-container {
        width: 80vw;  /* Aumenta a largura da TV para 90% da tela */
        height: 90vw;  /* Mantém a proporção */
        text-align: center;
    }

    .button, .reset-button {
        margin-top: 5%;
        padding: 12px 25px;  /* Ajusta o tamanho do botão */
        font-size: 16px;  /* Diminui o tamanho da fonte */
    }

    .result {
        font-size: 30px;  /* Diminui o tamanho da fonte do resultado */
    }

    .turn-message {
        font-size: 18px;  /* Diminui o tamanho da fonte */
    }
}

/* Estilos para telas menores que 480px */
@media (max-width: 480px) {
    .tv-container {
        width: 70vw;  /* Ajusta para 95% da largura da tela */
        height: 85vw;  /* Ajusta para 95% da altura */

    }

    .button, .reset-button {
        margin-top: 3%;
        padding: 10px 20px;  /* Ajusta o tamanho do botão */
        font-size: 14px;  /* Diminui ainda mais o tamanho da fonte */
    }

    .result {
        font-size: 24px;  /* Diminui o tamanho da fonte */
    }

    .turn-message {
        font-size: 16px;  /* Ajusta a fonte para telas pequenas */
    }

    .slot img {
        object-fit: contain;  /* Ajusta a imagem para caber melhor em telas pequenas */
    }
}